<!--            <div class="col-3 form-inline mb-3" id="filterbar">-->
<!--                <h1>Filters</h1>-->
<!--                <h3 id="menutitle">Mill owner</h3>-->
<!--                    <div id="menuselect" class="block"></div>-->
<!--                    {% for filterform_key in filter_options %}-->
<!--                <label class="form-label btn btn-info btn-block" data-toggle="collapse" data-target="#{{ filterform_key }}">{{ filterform_key }}</label> <br>-->
<!--                    <div id="{{ filterform_key }}" class="collapse">-->
<!--                        {% for filterform_value in mill_filter_selection[filterform_key] %}-->
<!--                            <div class="mb-3">-->
<!--                                {% if choices_dict %}-->
<!--                                    {% if filterform_key in choices_dict.keys() %}-->
<!--                                        {% if filterform_value in choices_dict[filterform_key] %}-->
<!--                                        <input class="form-check-input" type="checkbox" checked = 'True' name="{{ filterform_key }}, {{filterform_value }}" ></input>-->
<!--                                        {% else %}-->
<!--                                        <input class="form-check-input" type="checkbox" name="{{ filterform_key }}, {{filterform_value }}" ></input>-->
<!--                                        {% endif %}-->
<!--                                    {% else %}-->
<!--                                        <input class="form-check-input" type="checkbox" name="{{ filterform_key }}, {{filterform_value }}" ></input>-->
<!--                                    {% endif %}-->
<!--                                {% else %}-->
<!--                                <input class="form-check-input" type="checkbox" checked = 'True' name="{{ filterform_key }}, {{filterform_value }}" ></input>-->
<!--                                {% endif %}-->
<!--                                <label class="form-check-label" name={{ filterform_value }}>{{ filterform_value }}</label>-->
<!--                            </div>-->
<!--                        {% endfor %}-->
<!--                    </div>-->
<!--                    {% endfor %}-->
<!--&lt;!&ndash;                     <h3>Machine filters</h3>&ndash;&gt;-->
<!--                    <br>-->

<!--            </div>-->